body {
    background-color: #edf2f4;
}

.contenedor {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.container-form {
    height: 400px;
    width: 400px;
    padding: 60px 20px;
    background-color: #2f3e46;
    border-radius: 12px;
    box-shadow: 7px 7px 29px -10px rgba(0, 0, 0, 0.75);
}

h2 {
    color: white;
}
label {
    color: white;
}

.boton-sub {
    width: 360px;
}

header {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 60vw;
    height: 80px;
    margin-top: 14px;
    padding: 10px;
    background-color: #2f3e46;
    border-radius: 40px;
    color: white;
    box-shadow: 9px 6px 16px -7px rgba(0, 0, 0, 0.63);
}

li {
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 60px;
    margin-left: 20px;
    align-content: center;
    text-align: center;
    border-radius: 40px;
    padding: 10px;
}

a:hover {
    background-color: #ccff33;
    color: black;
}

.logo {

    width: 60px;
    height: 60px;
}

.contenedor-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 40px 20px;
    background-color: #2f3e46;
}

.in-register {
    margin-left: 30px;
    width: 150px;
}

.contenedor-input {
    margin-left: 30px;
}

.boton-register {
    width: 120px;
    height: 50px;
    margin-left: 30px;
}

.titulo-registro {
    color: #ccff33;
    margin-right: 40px;
}

.contenedor-actividades {
    margin: 40px 20px;
}

.contenedor-estadisticas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
    background-color: #2f3e46;
    padding: 40px;
}

.contenedor-graficas {
    margin: auto;
    width: 70vw;
}

.titulo {
    color: black;
}